body{
    background-color: rgb(244, 248, 251);
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
.posts{
    background-color:rgb(252, 251, 246);
}