body{
    background-color: rgb(244, 248, 251);
    position:absolute;
    height:100%;
    width: 100%;   
    top: 0; 
}
h2 {
    color: rgb(224, 153, 164);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 50px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 35px;
    margin-left: 15px;
}
.posts{
    background-color:rgb(252, 251, 246);
    margin-top: 60px;
    margin-left: 15px;
    width: 70%;
    height: 50%;
}

